<style type="text/css" media="screen">

table{
  
border-collapse:collapse;
border:1px solid #000000;
  
}

table td{background-color:#d2b48c;
border:2px solid black;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#player1{
 color: red ;
}
#player2{
 color: blue ;
}
#par{
  color:green;
}
#title{
  color:purple;
}


input{
background-color: #d2b48c;

  width: 25px;
 height:15px 
}
</style>
